body {
    font-family: "calibri", sans-serif;
    padding: 0;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, rgba(255, 0 ,0, 0.3), rgba(25, 100, 55, 0.3), rgb(153, 255, 102, 0.3), rgb(204, 0, 255, 0.3), rgb(255, 204, 204, 0.3));
    background-size: 600% 100%;
    animation: gradient 50s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

@font-face {
    font-family: "SlimyGoo-Regular";
    src: url('../fonts/SlimyGoo-Regular.ttf');
    src: url('../fonts/SlimyGoo-Regular.ttf') format('truetype');
}

#content-area {
    font-size: 16px;
    font-family: "calibri", sans-serif;
    width: auto;
    border-radius: 20px;
    padding: 75px;
    background-color: #faf9f6;
}

#dialog-content {
    overflow: auto;
    width: auto !important;
    height: 290px;
    background-color: #f5f5f5;
    padding: 20px;
}

.ui-dialog-content ui-widget-content {
    border-radius: 20px !important;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

p.dialog-box-p {
    margin-left: 20px;
}

h1.dialog-box-h1 {
    margin-left: 20px;
}

h2.dialog-box-h2 {
    margin-left: 20px;
}

ul.dialog-box-ul {
    margin-left: 20px;
}

ol.dialog-box-ol{
    margin-left: 20px;
}

p#changeOne, 
p#changeTwo,
p#changeThree,
p#changeFour  {
    margin-left: 20px;
}

#accept-decline-button {
    margin-top: 25px;
    margin-bottom: 15px;
    float: right;
}

.no-bottom-margin {
margin-bottom: 0px;
}

h1#main-title {
    text-align: center;
    font-family: "SlimyGoo-Regular";
    font-size: 44px;
    color: rgb(113, 86, 119);
}

h2#secondary-title {
    text-align: center;
}

h3#tertiary-Title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

h4#tertiary-Title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

#back {
    width: 50%;
    margin-top: 30px;
    margin-left: 65px;
}

h1#melt {
    color: rgb(113, 86, 119);
    font-size: 8vw;
    text-align: center;
    font-family: sans-serif;
    line-height: 1;
    letter-spacing: 0.1em;
    transform-origin: left 0.5em;
    -webkit-filter:url("#shadowed-goo");
    filter:url("#shadowed-goo");
    animation: 8s sta ease-in both;
  }
  @keyframes sta {
      0% {
      transform: scaleY(1) translateY(0);
      opacity: 0;
      }
      10%,20% {
      transform: scaleY(1) translateY(0);
      opacity: 1;
      }
      100% {
      transform: scaleY(8) translateY(0.5em);
      opacity: 0;
      }
  }